---
import Layout from '../layouts/Page.astro';
---

<Layout
	title="About"
	description="About Nick J Stevens - Engineer, trail runner, father, learner, teacher and dreamer"
>
	<p>
		This website, <a href="/">nickjstevens.com</a>, is the little corner of the internet for me, Nick Stevens. My <a href="/now">now</a> page summarises what I'm up to now.
	</p>

	<h2>Who Am I?</h2>

	<p>
		I'm an engineer, trail runner, father, learner, teacher and dreamer.
	</p>

	<h2>My Interests</h2>

	<p>
		I have a range of interests, and they change over time, but the list below will give you a sense of what interests me:
	</p>

	<ul>
		<li>Connected thought</li>
		<li>Zettelkasten</li>
		<li>Notion</li>
		<li>Obsidian</li>
		<li>Logseq</li>
		<li>Stoicism</li>
		<li>Habits</li>
		<li>Systems thinking and systems engineering</li>
		<li>Finite element analysis</li>
		<li>Python</li>
		<li>Trail and fell running</li>
		<li>Dartmoor</li>
		<li>Carnivore and keto eating</li>
	</ul>
</Layout>
