---
import Layout from '../layouts/Page.astro';
import AboutHeroImage from '../assets/about.png';
---

<Layout
	title="Now"
	description="What Nick J Stevens is doing now"
>
	<p>
		<em>(This is a <a href="https://nownownow.com/about?ref=nickjstevens.com">now</a> page, and if you have your own site, you should make one, too.)</em>
	</p>

	<h2>What I'm doing now</h2>

	<p>
		I'm working on this website that provides the outlet for my thinking and creativity.
	</p>

	<p>
		Key topics I'm exploring deeply at the moment (and writing about):
	</p>

	<ul>
		<li>Systems thinking</li>
		<li>Networked thought</li>
		<li>Philosophy (Stoicism in particular)</li>
		<li>Vitality (cold therapy, diet, calisthenics)</li>
	</ul>

	<p>
		I'm one of the technical leads for Asset Management Transformation at Babcock, Devonport.
	</p>

	<p>
		I'm still into trail running on Dartmoor. Cold river dips are somewhere else you might find me on Dartmoor.
	</p>

	<p>
		Currently going big on an animal-based diet - meat, eggs, fish, bone broth, fruit.
	</p>

	<p>
		My kids (3, 7, and 9) are full of beans and there is never a dull moment.
	</p>

	<p>
		Still loving Devon and Dartmoor as much as ever. What a wonderful part of the world to live.
	</p>

	<p>
		Come and say "hi", it's good to talk.
	</p>
</Layout> 